.letter {
    Position:relative;
    top:0;
    padding:4px;
    transition: all .2s ease-in-out;
}

.letter:hover {
    top:-8px;
}

#home {
    /* background: linear-gradient(90deg, #001416, #000507); */
    background-image: url("../assets/img/home.jpg");
}

#frase {  
    animation: frase 2s infinite alternate linear;
    -webkit-animation: frase  8s infinite alternate linear;
  }