#home {
    background: linear-gradient(90deg, #001416, #000507);
}

/* #frase {
    position: absolute;
    animation: frase 2s infinite alternate linear;
    -webkit-animation: frase  4s infinite alternate linear;

  } */
  
  /* @keyframes frase {
    0% {
      left: 15%;
      top: 30%;
    }
  
    100% {
      left: 30%;
      top: 40%;
    }
  } */
