.scrolled {
    background: black;
}

#Navbar {
    transition:  0.32s ease-in-out;
    overflow-x: hidden;
}

#Navbar a {
    position:relative;
    top:0;
    padding:4px;
    transition: 0.32s ease-in-out;
}

#Navbar a:hover{
    top:-8px;
}